/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2015, 2:45:28 PM
    Author     : timwalsh300
*/

.root{
    -fx-font-size: 10pt;
    -fx-font-weight: bolder;
    -fx-font-family: "monospace";
    -fx-background-color: #273746;
}

.label{
    -fx-text-fill: #f5f5f5;
}

.button {
    -fx-text-fill: #f5f5f5;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.menu .label {
    -fx-text-fill: #303030;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
